body {
    font-family: sans-serif;
}
h1 {
    color: darkslategrey;
    text-align: center;
}
.netid {
    text-align: center;
    background-color: yellow;
}
.colorschedule{
    color: #e0f6ef;
    background-color: #6ab099;
}
.grid {
    display: grid;
    grid-template-columns: 48% 48%;
    column-width: auto;
    column-gap: 4%;
    
    
}
.leftgrid {
    border: 1px solid black;
   
}
.rightgrid {
    border: 1px solid black;
    
   
    
}
.margin {
 margin-left: 30px;
}

table, td, th{
    border: 1px solid black;
}
#t1 {
    border-collapse: collapse;
}
td {
    padding: 3px;
}
.pics {
    margin-left: 30px;
    padding: 10px;
    border: 3px solid black;
    transition: 0.3s;

}
img:hover{
    background-color: aqua;
}